@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;700&family=Josefin+Sans:wght@200;300;400;500&display=swap');

/*
font-family: 'Inconsolata', monospace;
font-family: 'Josefin Sans', sans-serif;
*/

body{
 margin:0px;   
 font-family: 'Inconsolata', monospace;
}    
header{
    display: flex;
    align-items: center;
    background-color: black;
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-inline: 3rem;
}

header > *{
    width: 20rem;
}
nav{
    flex:1;
    display: flex;
    justify-content: center;
}
h1{
    justify-self:start;
}

ul {
    justify-self: center;
    display: flex;
    gap: 1em;
    height: 100%;
    align-items: center;
}
ul li{
    list-style: none;
}
ul a{
    background-color: rgba(255,255,255,.1);
    color: white;
    text-decoration: none;
    padding: 1em;
}

#accueil{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.btn{
    padding: 1em;
    padding-inline: 15em;
    background-color: gainsboro;
    border: 2px black solid;

}