@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;700&family=Josefin+Sans:wght@200;300;400;500&display=swap');

/*
font-family: 'Inconsolata', monospace;
font-family: 'Josefin Sans', sans-serif;
*/

body{
 margin:0px;   
 font-family: 'Inconsolata', monospace;
}    

header{
    display: flex;
    align-items: center;
    background-color: black;
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-inline: 3rem;
}
header >  div{
    visibility: hidden;
}

header > *{
    width:20rem;
}

ul {
    justify-self: center;
    display: flex;
    gap: 1em;
    height: 100%;
    align-items: center;
}
ul li{
    list-style: none;
}
ul a{
    background-color: rgba(255,255,255,.1);
    color: white;
    text-decoration: none;
    padding: 1em;
}

#trailer{
    align-self: center;
    width: 100%;
    aspect-ratio: 16 / 9;
}

nav{
    flex:1;
    display: flex;
    justify-content: center;
}
h1{
    font-family: 'Josefin Sans', sans-serif;
    justify-self: start;
}
h2{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}
.title{
    font-size: 2rem;
}


 
#accueil{
    padding-top: 1.5rem;
    padding-inline: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap:1rem;
    text-align: center;
}

.btn{
    width: 100%;
    align-self: center;
    padding-block: 1em;
    background-color: gainsboro;
    border: 2px black solid;
}
@media (max-width: 1250px) { 
    #accueil{
        padding-inline: 10%;
    }
    header{
        padding-inline: 1rem;
    }
    header > div{
        display: none;
    }
    nav{
        justify-content: end;
    }

}

@media (max-width: 800px) { 
    #accueil{
        padding-inline: 1%;
    }
    nav{
        visibility: hidden;
        width: 0px;
    }
    header > div{
        visibility: visible;
        display: flex;
        justify-content: end;
    }
    header > div > svg{
        justify-self: flex-end;
    }
    header > *{
        width: 8rem;
    }
 }