body{
    margin:0;
    padding:0;
}
#titre{
    display:flex;
    justify-content: center;
}
#center_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1080px;
    height: 100vh;
    margin-left:25vw;
    margin-right: 25vw;
    margin-top: 18vh;
}
#player_num{
    width: 1080px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    }
#bouton_flex{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
#synopsis{
    margin-top: 80px;
}

.bouton{
    background-color: blue;
    color: white;
    padding: 15px;
    border: black solid 3px;
    border-radius: 60px;
}