body{
    margin:0;
    padding:0;
    background-color: rgb(27, 27, 27);
}
/*
HEADER
*/

header{
    display: flex;
    align-items: center;
    background-color: black;
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-inline: 3rem;
}
header >  button{
    visibility: hidden;
    width: 64px;
    background-color: unset;
    border: none;
}

header > *{
    width:20rem;
}

ul {
    justify-self: center;
    display: flex;
    gap: 1em;
    height: 100%;
    align-items: center;
}
ul li{
    list-style: none;
}
ul a{
    text-align: center;
    display: block;
    color: white;
    text-decoration: none;
    padding: 1em;
    width: 8rem;

    
    transition: color,background-color .5s;
}
ul a:hover{
    color:black;
    background-color: white;

}

nav{
    flex:1;
    display: flex;
    justify-content: center;
}

#titre{
    display:flex;
    justify-content: center;
    color: white;
}
#center_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1080px;
    height: 100vh;
    margin-left:25vw;
    margin-right: 25vw;
    margin-top: 18vh;
}
#player_num{
    width: 1080px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    }
#bouton_flex{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
#synopsis{
    margin-top: 80px;
    color:white;
}

.bouton{
    background-color: rgb(49, 9, 122);
    box-shadow: 3px 5px rgba(49, 9, 122, 0.4);
    color: white;
    padding: 15px;
    border: black solid 1px;
    border-radius: 60px;
    width: 170px;
    height: 70px;
}
a{
    text-decoration: none;
    color: white; 
    display:block;
}
/*Media Queries*/

@media (max-width: 1300px) { 
    #accueil{
        padding-inline: 10%;
    }
    header{
        padding-inline: 1rem;
    }
    header > button{
        display: none;
    }
    nav{
        justify-content: end;
    }
    

}

@media (max-width: 1000px) { 
    #accueil{
        padding-inline: 1%;
    }
    header{
        justify-content: space-between;
        position:relative
    }
    
    header > *{
        width: 8rem;
    }
    nav{
        display: none;
    }
    nav.activated{
        display: block;
        
        background-color: black;
        position:absolute;
        top:8.7rem;
        left: 0;
        width: 100vw;
    }
    nav > ul {
        flex-direction: column;
    }
    nav li a {
        width: 100vw;
    }
    header > button{
        visibility: visible;
        display: flex;
        justify-content: end;
    }
    header > button > svg{
        justify-self: flex-end;
    }
 }