@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;700&family=Josefin+Sans:wght@200;300;400;500&display=swap');

/*
font-family: 'Inconsolata', monospace;
font-family: 'Josefin Sans', sans-serif;
*/
body{
    margin:0;
    padding:0;
    background-color: rgb(27, 27, 27);
    font-family: 'Inconsolata', monospace;
}
/*
HEADER
*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-inline: 3rem;
}
header >  button{
    display: none;
    width: 64px;
    background-color: unset;
    border: none;
}

header > *{
    width:20rem;
}

ul {
    justify-self: center;
    display: flex;
    gap: 1em;
    height: 100%;
    align-items: center;
}
ul li{
    list-style: none;
}
ul a{
    text-align: center;
    display: block;
    color: white;
    text-decoration: none;
    padding: 1em;
    width: 8rem;
    transition: color,background-color .5s;
}
ul a:hover{
    color:black;
    background-color: white;

}

nav{
    flex:1;
    display: flex;
    justify-content: end;
}
/*FIN HEADER*/
#titre{
    display:flex;
    justify-content: center;
    color: white;
    font-family: 'Josefin Sans', sans-serif;

}
#center_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1080px;
    /*height: 100vh;
    
    margin-top: 18vh;*/
    margin-left:25vw;
    margin-right: 25vw;
}
#player_num{
    width: 1080px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    }
#bouton_flex{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
#synopsis{
    margin-top: 80px;
    color:white;
}

.bouton {
    padding: 15px 100px;
    margin: 10px 4px;
    cursor: pointer;
    color: white;
    /*background: linear-gradient(to top,rgba(255, 145, 1, 0.568), rgb(255, 181, 70));*/
    background: linear-gradient(to top,rgba(120, 1, 255, 0.568), rgb(145, 46, 238));
    text-transform: uppercase;
    text-align: center;
    position: relative;
    border-radius: 15px;
    border:black 2px solid;
  }
  .bouton:hover {
    opacity: 0.5;
  }
  
a{
    text-decoration: none;
    color: white; 
    display:block;
}
/*Media Queries*/

@media (max-width: 1300px) { 
    #accueil{
        padding-inline: 10%;
    }
    header{
        padding-inline: 1rem;
    }
    header > button{
        display: none;
    }
    nav{
        justify-content: end;
    }
    

}

@media (max-width: 1000px) { 
    #accueil{
        padding-inline: 1%;
    }
    header{
        justify-content: space-between;
        position:relative
    }
    
    header > *{
        width: 8rem;
    }
    nav{
        display: none;
    }
    nav.activated{
        display: block;
        
        background-color: black;
        position:absolute;
        top:8.7rem;
        left: 0;
        width: 100vw;
    }
    nav > ul {
        flex-direction: column;
    }
    nav li a {
        width: 100vw;
    }
    header > button{
        visibility: visible;
        display: flex;
        justify-content: end;
    }
    header > button > svg{
        justify-self: flex-end;
    }
 }